@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*
{
    font-family: "Space Grotesk", sans-serif;

}
:root
{
    --darker: #164863;
    --dark: #427D9D;
    --middle: #5FCEFC;
    --light: #9BBEC8;
    --lighter: #DDF2FD;
}
body
{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--lighter);
    height: 100vh;
    overflow: hidden;
}
a 
{
    color: var(--middle);
}
label
{
    font-size: 85%;
}

/*can have input:focus for changing selected elements*/

.right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.right .middle
{
    background-color: #eaf6fc;
    width: 100%;
    height: 42%;
    box-shadow: 1px 5px 5px rgb(94, 94, 94);
}
.right .top, .right .bottom
{
    padding: 50px;
}
.fields
{
    display: flex;
    gap: 60px;
    padding-top: 40px;
}
.fields .left-inputs, .fields .right-inputs
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
#company-border
{
    display: flex;
    position: absolute;
    background: rgb(0, 0, 0, .5);
    z-index: -1;
    top: 100px;
    width: 600px;
    height: 100px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;   
}
#robot
{
    position: relative;
    z-index: -2;
    width: 600px;
    height: 100%;
}
#submit-button
{
    border-radius: 10px;
    font-size: 20px;
    padding: 15px 35px;
    background-color: var(--middle);
    border: none;
    box-shadow: 0px 2px 0px rgb(0, 0, 0, .2);
}
footer
{
    padding: 0px;
    height: 0;
}